@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@using eMart.DTO_Models
@model OrderDetails
@{
    ViewData["Title"] = localizer["Title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@localizer["Title"]</h1>
<hr />

<div class="row">
    <div class="col-md-10">
        <form asp-action="AddOrder">
            @foreach (var m in Model.cartProducts)
            {
                <div class="form-group">
                    <h5>@m.Product.Name</h5>
                    <h6>@m.Product.Description</h6>
                    <input asp-for="@m.ProductId" hidden class="form-control" />
                    <input asp-for="@m.CartId" hidden class="form-control" />
                    <input asp-for="@m.Quantity" hidden class="form-control" />
                    <input asp-for="@m.Price" hidden class="form-control" />
                    <h5>@m.Product.price x @m.Quantity = @m.Price</h5>
                </div>
            }

            <div class="form-group">
                <h3>@localizer["Total Price"] : <input asp-for="@Model.Total" readonly class="form-control" aria-label="@localizer["Total Price"]" /></h3>
                <h5>@localizer["Creation Date"] : <input asp-for="@Model.CreatedDate" readonly class="form-control" aria-label="@localizer["Creation Date"]" /></h5>
                <h5>@localizer["Delivery Date"] : <input asp-for="@Model.DeliveryDate" readonly class="form-control" aria-label="@localizer["Delivery Date"]" /></h5>
            </div>

            <div class="form-group">
                <label>@localizer["Delivery Location"]:</label>
                <input asp-for="@Model.DeliveryLocation" required class="form-control" style="width:800px;" aria-label="@localizer["Delivery Location"]" />
            </div>

            <hr />
            <div class="form-group">
                <input type="submit" value="@localizer["Create Order"]" class="btn btn-primary" style="width:200px;" />
            </div>
        </form>
    </div>
</div>

<hr />
<div>
    <a asp-action="Index" asp-controller="Cart">@localizer["Back to Cart"]</a>
</div>
